<% provide(:title, "Edit user") %>
<h1>修改资料</h1>

<div class="row">
  <div class="span6 offset3">
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>
  	<%= f.label :姓名 %>
  	<%= f.text_field :name %>
  	<%= f.label :邮箱 %>
  	<%= f.text_field :email %>
    <%= f.label :电话 %>
    <%= f.text_field :tel %>
    <%= f.label :QQ, "QQ" %>
    <%= f.text_field :qq %>
    <%= f.label :学校 %>
    <%= f.text_field :school %>
    <%= f.label :性别 %>
    <%= f.text_field :sex %>
  	<%= f.label :密码 %>
  	<%= f.password_field :password %>
  	<%= f.label :确认密码, "确认密码" %>
  	<%= f.password_field :password_confirmation %>
    <div><%= f.submit "Save changes", class: "btn btn-large btn-primary" %></div>
  <% end %>
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails">更改头像</a>
  </div>
</div>
